@use "../Styles/colors" as *;
@use "../Styles/fonts" as *;

.dog-card {
  background-color: var(--colors__gray-1);
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 100%;
  align-items: center;

  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease, transform 0.3s ease;

  &:not(.dog-card--match):hover {
    transform: translate(0.5rem, -0.5rem);
  }

  @media (min-width: $breakpoint-tablet) {
    width: auto;
    align-items: flex-start;
  }
}

.top-container {
    display: flex;
}

.favorite-btn {
  align-self: flex-end;
  border: none;
  background-color: transparent;
}

.image {
  width: 250px;
  height: 250px;
  object-fit: cover;

  &--match {
    width: 100%;
  }
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.name {
  @include fonts__h3;
}

.description {
    margin: 0;

  @include fonts__p;
}

.exit-button {
    align-self: flex-end;
    border: none;
    cursor: pointer;
    color: var(--colors__purple-primary);
    transition: color 0.3s ease, color 0.3s ease;
  
  
    &:hover {
      color: var(--colors__brand-secondary); 
    }
  }