:root {
    --colors__brand-primary: #FCA80C;
    --colors__brand-secondary: #E99E16;
    --colors__purple-primary: #2E0734;
    --colors__purple-secondary: #191133;
    --colors__purple-tertiary: #181132;
    --colors__purple-light: #484650;

    --colors__black: #000;
    --colors__white: #FFF;
    --colors__gray-1: #f1f1f1;
    --colors__gray-2: #c8c7c7;
    --colors__gray-3: #a1a1a1;
  }